<%- include("header"); %>

<div class="card mt-4">
  <div class="card-body">
      <h2><%= article.title %></h2>
      <p><span style="font-weight: bold;">Description: </span> <%= article.description %></p>
      <p><%= article.content %></p>
  </div>
</div>



